

.cpteamupdates {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.cpteamupdates .teamupdates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(231, 69, 59, 1.0);
  text-align          : justify;
  line-height         : 84.0px;
}
.cpteamupdates .coreprojectteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 188px;
  height              : auto;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 509px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .contactsupport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 1270px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : justify;
  line-height         : 23.0px;
}
.cpteamupdates .rectangle {
  background-color    : rgba(227, 226, 226, 1.0);
  top                 : 0px;
  height              : 36px;
  width               : 1438px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.cpteamupdates .phaseupdates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 90px;
  width               : 90px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 659px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : 72px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .orchestrahome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : justify;
  line-height         : 23.0px;
}
.cpteamupdates .oscore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 859px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(231, 69, 59, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .materialsplanning {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : auto;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(231, 69, 59, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .constrainedplanning {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(231, 69, 59, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .businessintelligenc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 859px;
  height              : auto;
  width               : 205px;
  position            : absolute;
  margin              : 0;
  left                : 739px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(231, 69, 59, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .divyamangotra {
  background-color    : rgba(255,255,255,0.0);
  top                 : 579px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .lejensen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 925px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .aquee {
  background-color    : rgba(255,255,255,0.0);
  top                 : 579px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .jesslevin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 930px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Oblique", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .divyamangotra1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 547px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .aqueeeasley {
  background-color    : rgba(255,255,255,0.0);
  top                 : 547px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .leticiajensen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 898px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .jessicalevin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 898px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 742px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cpteamupdates .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 284px;
  height              : 194px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 745px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 658px;
  height              : 193px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 748px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : 193px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 517px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .bitmap4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 657px;
  height              : 195px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 518px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cpteamupdates .announcements {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 622px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}