

.cptemplates {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.cptemplates .resources {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 553px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(249, 189, 52, 1.0);
  text-align          : justify;
  line-height         : 84.0px;
}
.cptemplates .contactsupport {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 1270px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : justify;
  line-height         : 23.0px;
}
.cptemplates .rectangle {
  background-color    : rgba(227, 226, 226, 1.0);
  top                 : 0px;
  height              : 36px;
  width               : 1438px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
}
.cptemplates .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : -683px;
  height              : 1px;
  width               : 3147px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .documenttitlehere {
  background-color    : rgba(255,255,255,0.0);
  top                 : 349px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(208, 1, 27, 1.0);
  text-align          : justify;
  line-height         : 18.0px;
}
.cptemplates .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 336px;
  height              : 577px;
  width               : 803px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(74, 73, 74, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.23;
}
.cptemplates .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 613px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 459px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 420px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 382px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 497px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 574px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 651px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 690px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 728px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line210 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 767px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line211 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 805px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line212 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 844px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .line213 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 882px;
  height              : 1px;
  width               : 805px;
  position            : absolute;
  margin              : 0;
  left                : 309px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .coreprojectteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : auto;
  width               : 406px;
  position            : absolute;
  margin              : 0;
  left                : 517px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.75;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.cptemplates .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : 72px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cptemplates .orchestrahome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : justify;
  line-height         : 23.0px;
}
.cptemplates .announcements {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 622px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(157, 155, 150, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}